.form-control {
  width: 50%;
  display: flex;
}

.col {
  text-align: center;
}

.row {
  justify-content: center;
}

.TopBar {
  text-align: center;
}

.Homepage-h2 {
  margin: 50px 0;
  font-family: georgia;
}

.SuggestionText {
  font-size: 29px;
}

.gratitudeButton {
  margin: 50px 0;
}
