.form-control {
  width: 50%;
  display: flex;
}

.col {
  text-align: center;
}

.row {
  justify-content: center;
  display: flex;
}

.TopBar {
  text-align: center;
}

.Homepage-h2 {
  margin: 50px 0;
  font-family: georgia;
}

.SuggestionText {
  font-size: 29px;
}

.gratitudeButton {
  margin: 50px 0;
}

.PromptText {
  margin: 50px 0;
  font-family: Georgia, sans-serif;
  font-size: 25px;
}

.gratitudeForm {
  display: inline-block;
  width: 300px;
  height: 300px;
}
